@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

main {
    transition: all 0.3s;
    @apply
      p-4
      bg-surface-100
      dark:bg-surface-900
      dark:text-surface-100;
  }
